* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #000;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  body::before {
    background-image: url("https://images.unsplash.com/photo-1534841090574-cba2d662b62e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHNwYWNlfGVufDB8fDB8fHww&w=1000&q=80");
  }
}

#errorContainer {
  color: red;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: clamp(1.5rem, 3vw, 4rem);
}


#video_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  isolation: isolate;

  height: 100vh;
  height: 100svh;
  max-height: 100vh;
  max-height: 100svh;
  
  width: 100vw;
  width: 100svw;
  max-width: 100vw;
  max-width: 100svw;
}

#dimmBg {
  position: absolute;
  inset: 0;
  /* opacity: 0; */
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  cursor: none;
  z-index: 1;
}
#main_vid {
  position: absolute;
  background-color: rgba(58, 58, 58, 0.2);
  backdrop-filter: blur(2px);
  max-height: 100vh;
  max-height: 100svh;
  max-width: 100vw;
  max-width: 100svw;
  overflow: hidden;
  border: none;
}
#center_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  aspect-ratio: 1;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 999px;
  outline: none;
  font-size: 1.1rem;
  translate: -50% -50%;
  cursor: pointer;
  z-index: 1;
}

#actions_viewer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  aspect-ratio: 1;
  padding: 0.5;
  border-radius: 999px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  z-index: 9;
  pointer-events: none;
}

#videoLeftSide,
#videoRightSide {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 1;
  /* pointer-events: none; */
  cursor: none;
  transition: ease-out opacity 0.3s;
}
#videoLeftSide {
  left: 0;
  right: 65%;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
#videoRightSide {
  right: 0;
  left: 65%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
:where(#videoLeftSide, #videoRightSide) img {
  opacity: 0.5;
}

#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 9;
  display: grid;
  gap: 0.5rem;
}

#time_controls_container {
  padding: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.time_range_input_container {
  width: 100%;
  display: grid;
  align-items: center;
  position: relative;
  isolation: isolate;
}
#bufferingIndicator {
  --buffered-percentage: 0%;

  position: absolute;
  inset: 1px;
  right: calc(100% - var(--buffered-percentage));
  background-color: rgba(164, 164, 164, 0.5);
  z-index: 1;
}
#time_range {
  --thumb-color: transparent;
  --current-percentage: 0%;
  --indicator-left-pos: 0;
  --thumb-size: 15px;

  -webkit-appearance: none;
  position: relative;
  min-width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(red, red);
  background-size: var(--current-percentage) 100%;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  outline: none;
  transition: ease height 0.3s, border-color ease-out 0.3s;
  cursor: pointer;
  z-index: 2;
}
#time_range:hover,
#time_range:focus-visible {
  --thumb-color: red;

  border-color: rgba(255, 255, 255, 0.2);
  height: 7px;
}
#time_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: calc(var(--current-percentage) - 5px);
  top: -5px;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 999999px;
  cursor: pointer;
}
#time_range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: calc(var(--current-percentage) - 5px);
  top: -5px;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 999999px;
  cursor: pointer;
}
#time_range::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--indicator-left-pos) - 4px);
  opacity: 0;
  width: 2px;
  background-color: #eee;
}
#time_range:hover::before {
  opacity: 1;
}

#time_value {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

#control_buttons {
  display: flex;
  justify-content: space-between;
}

.controls_grp {
  background-color: transparent;
  border-radius: 2rem;
  display: flex;
  gap: 0rem;
  backdrop-filter: none;
}

.control_btn {
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(35px, 7vw, 50px);
  aspect-ratio: 1/1;
  margin: 0.25rem;
  border-radius: 9999rem;
  transition: background-color ease 0.3s, scale ease .3s;
}
.control_btn:hover:not(#toggleMute) {
  background-color: rgba(76, 76, 76, 0.4);
}

.control_icon {
  filter: invert(1);
}


#videoSpeed, #aspectRatio {
  position: relative;
}
#videoSpeed span, #aspectRatio span {
  font-size: .75rem;
  border-radius: 99rem;
  position: absolute;
  top: 15%;
  left: 15%;
  backdrop-filter: blur(1px) grayscale(0.5);
  font-weight: bold;
}
#aspectRatio span {
  left: 0;
  right: 0;
  top: 15%;
}

#toggleMute {
  margin: 0;
}
#volume_controls_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  margin: 0.25rem;
  padding-right: 0.4rem;
  border: none;
  border-radius: 99999px;
}
#volume_controls_container:hover,
#volume_controls_container:focus-visible {
  background-color: rgba(76, 76, 76, 0.4);
}

input#volume {
  --slider-width: 50px;
  --thumb-color: transparent;
  --thumb-size: 12px;
  --volume: 100%;

  -webkit-appearance: none;
  background-color: transparent;
  margin-right: 0.4rem;
  width: 0;
  opacity: 0;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(white, white);
  background-size: var(--volume) 100%;
  background-repeat: no-repeat;
  border-radius: 999px;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: width 0.4s ease, opacity 0.4s ease;
}
#volume_controls_container:hover input#volume,
#volume_controls_container:focus-visible input#volume {
  --thumb-color: white;

  width: var(--slider-width);
  opacity: 1;
}
input#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 999999px;
}
input#volume::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 999999px;
}


.error {
  color: red;
  text-align: center;
}

@media (min-width: 700px) {
  
  .control_btn i {
    scale: 1.25;
  }
  .control_btn img {
    scale: 1.25;
  }
  #volume_controls_container {
    padding-right: 0.7rem;
  }
  input#volume {
    --thumb-size: 15px;
    --slider-width: 80px;
  }

  #center_btn {
    scale: 1.5;
  }

  #time_range {
    --thumb-size: 20px;

    height: 7px;
    min-width: calc(100% - 9ch);
  }
  #time_range:hover {
    height: 10px;
    min-width: calc(100% - 9ch);
  }
}

@media (max-width: 400px) {
  #controls {
    padding: 0.25rem;
    gap: 0.25rem;
  }

  .control_btn {
    padding: 0.1rem;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    aspect-ratio: 1/1;
    margin: 0.1rem;
    transition: all ease 0.3s;
  }
  /* input#volume {
    --thumb-size: 7px;
    --slider-width: 30px;
  } */

  #time_range {
    --thumb-size: 12px;

    height: 5px;
    min-width: calc(100% - 9ch);
  }
  #time_range:hover {
    height: 6px;
  }

  #controls {
    padding: 0.2rem;
    gap: 0rem;
  }
}

/* For Mobile */
@media (hover: none) {
  #actions_viewer {
    display: none !important;
  }
  #volume_controls_container:hover {
    background-color: transparent;
  }
  .control_btn:hover {
    background-color: transparent !important;
    border: none;
  }
  #time_range::before {
    display: none !important;
  }
}


/* For PC */
@media (hover: hover) {
  #videoLeftSide, #videoRightSide, #center_btn {
    display: none !important;
  }
  .control_btn:hover:not(#toggleMute) {
    scale: 1.25;
  }
}

